// category topics
.category-topics--content {
  padding: 0.5em 0;
}

.category-topics--topic {
  display: block;
  margin-bottom: 0.25em;
}

.category-topics--posts-count {
  color: var(--primary-high);
}
