.recent-replies--reply {
  display: flex;
  &:not(:last-child) {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--primary-low);
    margin-bottom: 1em;
  }
}

.recent-replies--col {
  &:first-child {
    padding-top: 0.05em;
  }
  &:nth-child(2) {
    margin: 0 0.5em;
    flex-shrink: 1;
    max-width: 80%;
    word-break: break-word;
  }
}

.recent-replies--date {
  font-size: var(--font-down-1);
  color: var(--primary-medium);
}
