.homepage-blocks {
  &__wrapper {
  }
  &__block {
    margin-bottom: 1.5em;
    h3 {
      border-bottom: 1px solid var(--primary-low);
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
