<PluginOutlet @name="above-homepage-blocks" />

{{#each blocks as |block|}}
  <div class={{block.classNames}}>
    {{component block.internalName params=block.parsedParams}}
  </div>
  <PluginOutlet
    @name="below-custom-homepage-block"
    @outletArgs={{hash block=block}}
  />
{{/each}}

<PluginOutlet @name="below-homepage-blocks" />